html {
  font-size: 10px;
  font-family: 'Open Sans', sans-serif; 
}


h1 {
  font-size: 40px;
  text-align: center;
}

p, li {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
  color: blue;
}


html {
  background-color: rgb(240, 231, 231);
  background-image: url('../images/bg.png');
  background-repeat: repeat;
  /* background-position: center;  */
  background-size: cover;
}

body {
  width: auto;
  height: 800 auto;
  margin: 20 20;
  background-color: rgba(255, 255, 255, 0.027);
  padding: 0 20px 20px 20px;
  /* border: 1px solid black; */
 
}

h1 {
  margin: 0;
  padding: 20px 0;
  color: #00539F;
  text-shadow: 3px 3px 15px black;
}

/* img {
  display: block;
  margin: 0 auto;
} */
